.header {
  background: url(../images/hero.jpg) no-repeat 50% / cover;
  height: 100%;
  color: #fff;
  font-style: normal;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  line-height: 64px;
  display: flex;
  flex-direction: column;
}

.header__box {
  box-sizing: border-box;
  padding: 0 40px;
  height: 100%;
  margin: 160px auto 80px;
  width: 100%;
  max-width: 688px;
}

.header__title {
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.header__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
}

@media screen and (max-width: 900px) {
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }

  .header__box {
    width: 100%;
    max-width: 608px;
    margin: 104px auto 48px;
  }

  .header__subtitle {
    margin-top: 16px;
  }
}

@media screen and (max-width: 400px) {
  .header__box {
    margin-bottom: 86px auto 32px;
  }
}
