.nav {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1232px;
}

.nav_theme_dark {
  color: var(--color-dark);
}

.nav_theme_light {
  color: var(--main-white);
}

.nav_theme_dark .nav__navbar-button,
.nav_theme_light .nav__navbar-button {
  color: currentColor;
  border: 1px solid currentColor;
}

.nav_theme_dark .nav__navbar-link,
.nav_theme_light .nav__navbar-link,
.nav_theme_dark .nav__navbar-link:active,
.nav_theme_light .nav__navbar-link:active,
.nav_theme_dark .nav__navbar-link:visited,
.nav_theme_light .nav__navbar-link:visited {
  color: currentColor;
}

.nav_theme_dark .nav__navbar-link_active,
.nav_theme_light .nav__navbar-link_active {
  border-bottom: 3px solid currentColor;
}

.nav__logo {
  width: 200px;
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.nav__navbar-links {
  display: flex;
  height: 100%;
  gap: 34px;
  align-items: center;
}

.nav__navbar-button,
.nav__navbar-link {
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.nav__navbar-button {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
}
