.news-card-list {
  width: 100%;
  max-width: 1232px;
  margin: 0px auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(224px, 400px));
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .news-card-list {
    grid-template-columns: repeat(auto-fill, 224px);
  }
}
