.search-results {
  background: #f5f6f7;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.search-results__button {
  border-radius: 80px;
  background: var(--main-white, #fff);
  width: 288px;
  height: 64px;
  border: none;
  cursor: pointer;
  transition: all linear 0.1s;
  opacity: 1;
  /* font */
  color: var(--main-primary, #1a1b22);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.search-results__button:hover {
  border-radius: 80px;
  opacity: 0.9;
  background: #e8e8e8;
}
