@import url(./vendor/fonts.css);

:root {
  --color-dark: #1a1b22;
  --main-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* fonts */
  color: #1a1b22;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
